# DA - Introduction to Python Assignment 
submitted by: Vivek Rana

----------- String -----------

1. Write a Python program to count the number of characters (character frequency) in a string

In [1]:
str = 'Hello_world'

char_dict={}

for A in str:
    if A in char_dict:
        char_dict[A]+=1
    else:
        char_dict[A]=1
        
print(char_dict)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, '_': 1, 'w': 1, 'r': 1, 'd': 1}

2. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$' ,except the first char itself

In [2]:
str='Microsoft'

for A in str:
    print(A.replace('r','$'),end='')

Mic$osoft

3. Write a Python function that takes a list of words and returns the length of the longest one

In [3]:
def find_longest_word(words):
    longest_lenghth=0
    for word in words:
        if len(word) > longest_lenghth:
            longest_length = len(word)
    return longest_length

word_list=['Hello','world','pizza_Zone','burgur_king']
longest_word_length=find_longest_word(word_list)
print(longest_word_length)

11

4. Write a Python program to count the occurrences of each word in a given sentence

In [4]:
def word_count(str):
    count=dict()
    words=str.split()
    
    for word in words:
        if word in count:
            count[word]+=1
        else:
                count[word]=1
    return count
    
print(word_count("This butterfly wings is very beautiful"))

{'This': 1, 'butterfly': 1, 'wings': 1, 'is': 1, 'very': 1, 'beautiful': 1}

5. Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

In [5]:
def ctu(str):
    count=0
    for char in str[:4]:
        if char.isupper():
            count+=1
    if count>=2:
        return str.upper()
    else: 
        return str
    
print(ctu('AbCdeFghi'))

ABCDEFGHI

6. Write a Python program to count and display the vowels of a given text

In [ ]:
text=input('Enter the text here:').lower()
vowels='aeiou'
vowel_count={vovwel: text.count(vowel) for vowel in vowels}
print('vowel counts:')
for vowel,count in vowel_count.items():
    print(f'{vowel}:{count}')

----------- List -----------

1. Write a Python program to check a list is empty or not

In [ ]:
list=(['AA','BB','CC','DD'],[ ],['EE','FF'])
for x in list:
    if not list:
        print("This list is Empty")
    else: 
        print("This list is Not Empty")

2. Write a Python program to remove duplicates from a list

In [7]:
def rd(duplicate):
    final_list=[]
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate=[2,5,7,9,3,4,8,5,8,1,4,3]
print(rd(duplicate))

[2, 5, 7, 9, 3, 4, 8, 1]

3. Write a Python function that takes two lists and returns True if they have at least one

In [8]:
list1=[1,2,3,4,0]
list2=[5,6,7,8,9]
def comman_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False 
result=comman_member(list1,list2)
if result:
    print('The list have at least one common member')
else:
        print('The list do not have any common members')

The list do not have any common members

4. Write a Python program to get the difference between the two lists

In [9]:
list1=[11,12,13,14,15]
list2=[13,14,15,16,17]
difference=[x
           for x in list1
           if x not in list2]
print('The difference between list-1 and list-2 is:',difference)

The difference between list-1 and list-2 is: [11, 12]

5. Write a Python program to find the second smallest number in a list

In [10]:
Numbers=[26,29,28,30,21,24,23]
second_smallest=min([x
                 for x in Numbers
                 if x!=min(Numbers)])
print('The second smallest number is:', second_smallest)

The second smallest number is: 23

6. Write a Python program to find the second largest number in a list

In [11]:
Numbers=[26,29,28,30,21,24,23]
second_largest=max([x
                 for x in Numbers
                 if x!=max(Numbers)])
print('The second largest number is:', second_largest)

The second largest number is: 29

7. Write a Python program to get the frequency of the elements in a list

In [12]:
list=[1,1,1,2,2,2,3,4,4]
frequency_dict={}
for item in list:
    if item in frequency_dict:
        frequency_dict[item]+=1
    else:
        frequency_dict[item]=1
        
for key,value in frequency_dict.items():
    print(f'{key}: {value} times')

1: 3 times
2: 3 times
3: 1 times
4: 2 times

8. Write a Python program to convert a list of multiple integers into a single integer

In [13]:
list=[1,2,3]
for i in list:
    print(i,end='')

123

9. Write a Python program to compute the similarity between two lists

In [14]:
list1=['red','orange','green','blue','white']
list2=['black','yellow','green','blue']
color1_2=[x
         for x in list1
         if x not in list2]
color2_1=[x
         for x in list2
         if x not in list1]
print('color1-2:',color1_2)
print('color2-1:',color2_1)

color1-2: ['red', 'orange', 'white']
color2-1: ['black', 'yellow']

10. Write a Python program to check if all dictionaries in a list are empty or not

In [15]:
list1=[{},{}]
list2=[{'a':'b'}, ]
result1=all(not d for d in list1)
result2=all(not d for d in list2)

print('Result for list-1:',result1)
print('Result for list-2:',result2)

Result for list-1: True
Result for list-2: False

----------- Dictionary -----------

1.

In [16]:
n=5
dict1={}
for val in range(1,n+1):
    dict1[val]=val**2
    
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

2.

In [17]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}

d3={}

for key in d1:
    if key not in d3:
        d3[key]=d1[key]
        
for key in d2:
    if key not in d3:
        d3[key]=d2[key]
    else:
            d3[key]+=d2[key]

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

3.

In [18]:
val=[{"V":'S001'},{"V":"S002"},
     {"VI":"S001"},{"VI":"S005"},
     {"VII":"S005"},{"V":"S009"},
     {"VIII":"S007"}]

set1=set()
for x in val:
    set1.update(set(x.values()))
    
print(set1)

{'S007', 'S001', 'S009', 'S002', 'S005'}

4.

In [19]:
dict1={'1':['a','b'],'2':['c','d']}

for x in dict1['1']:
    for y in dict1['2']:
        print(x,y,sep='',end=' ')

ac ad bc bd

5. Write a Python program to create a dictionary from a string

In [20]:
str='pizza1'
demo_count={}
for x in str:
    if x in demo_count:
        demo_count[x]+=1
    else:
        demo_count[x]=1
        
print(demo_count)

{'p': 1, 'i': 1, 'z': 2, 'a': 1, '1': 1}

6. Write a Python program to count the values associated with key in a dictionary

In [21]:
database=[{'id':1,'success':True,'name':'Lary'},
        {'id':2,'success':False,'name':'Rabi'},
        {'id':3,'success':True,'name':'Alex'}]

count=0
for x in database:
    if 'success' in x and x['success']==True: count+=1
        
print('Count of dictionarys with "success" as True:',count)

Count of dictionarys with "success" as True: 2

7. Write a Python program to convert a list into a nested dictionary of keys

In [22]:
list=['a','b','c','d']
nested_dict={}
current_dict=nested_dict

for x in list:
    current_dict[x]={}
    current_dict=current_dict[x]
    
print(nested_dict)

{'a': {'b': {'c': {'d': {}}}}}

8. Write a Python program to sort a list alphabetically in a dictionary

In [23]:
my_dict={'city':['akash','raj','dev'],'name':['surat','mumbai','delhi']}
for x in my_dict:
    my_dict[x].sort()
    
print(my_dict)

{'city': ['akash', 'dev', 'raj'], 'name': ['delhi', 'mumbai', 'surat']}

9. Write a Python program to sort Counter by value. 
Sample data: {'Math':81, 'Physics':83, 'Chemistry':87} 
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [ ]:
dict11={'Math':'81', 'Physics':'83', 'Chemistry':'87'}

for x in dict11:
    print(x.keys)

10. Write a Python program to match key values in two dictionaries

In [25]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for key in x:
   if key in y and x[key] == y[key]:
    print(f"{key}: {x[key]} is present in both x and y")

key1: 1 is present in both x and y

----------- Tuple -----------

1. Write a Python program to create a tuple with different data types

In [26]:
tuple=(1,4.4,'Minaxi',True)
print(tuple)

(1, 4.4, 'Minaxi', True)

2. Write a Python program to add an item in a tuple

In [ ]:
tuple=(1,4.4,'Minaxi',True)
str(tuple)
type(tuple)

3. Write a Python program to add an item in a tuple

In [28]:
data1=(1,4.4,'minaxi')
data2=(1,'minaxi')
data3=data1+data2
print(data3)

(1, 4.4, 'minaxi', 1, 'minaxi')

4. Write a Python program to find the repeated items of a tuple

In [ ]:
tuple1=(55,66,55,8,2,5,8,66,3)

repeted_item = tuple(x
                  for x in set(tuple1)
                   if tuple1.count(x)>1)

print(repeted_item)

5. Write a Python program to find the length of a tuple

In [30]:
tuple1=(55,66,55,8,2,5,8,66,3)

tuple_len=len(tuple1)
print(tuple_len)

9

6. Write a Python program to convert a tuple to a dictionary

In [31]:
tuple1=(("a", 11) ,("b" , 12) ,("c",13))

dict1=dict(tuple1)
print(dict1)

{'a': 11, 'b': 12, 'c': 13}

7. Write a Python program to replace last value of tuples in a list

In [32]:
list1 = [(10, 20, 40), 
         (40, 50, 60), 
         (70, 80, 90)]

new_value = 200

modified_list = [(x[:-1] + (new_value,)) 
                 for x in list1]

print(modified_list)

[(10, 20, 200), (40, 50, 200), (70, 80, 200)]

8. Write a Python program to replace last value of tuples in a list

In [33]:
list1=[(),(),('',),('a','b'),('a','b','c'),('d')]

modified_item=[x
              for x in list1
              if x and x[-1]]

print(modified_item)

[('a', 'b'), ('a', 'b', 'c'), 'd']

9. Write a Python program to count the elements in a list until an element is a tuple

In [ ]:
list1=[1,2,3,(4,5),7,8,9]
count=0
for x in list1:
    if isistance(x,tuple):
        break
        count+=1
        
print("Number of element before first tuplre is",count)

----------- Set -----------

1. Write a Python program to iteration over sets

In [35]:
set1={23,22,13,4,30}
for x in set1:
    
    print(x)

4
22
23
13
30

2. Write a Python program to add member(s) in a set

In [36]:
set1={1,2,3,4,5,16,17}
set1.add(18)

print(set1)

{16, 1, 2, 3, 4, 5, 17, 18}

3. Write a Python program to remove item(s) from set

In [37]:
set1={1,2,3,4,5,16,17}
set1.remove(16)

print(set1)

{1, 2, 3, 4, 5, 17}

4. Write a Python program to remove an item from a set if it is present in the set

In [38]:
set1={1,2,3,4,5,16,17}
item_remove=5
set1.discard(item_remove)

print(set1)

{16, 1, 2, 3, 4, 17}

5. Write a Python program to create an intersection of sets

In [39]:
set1={11,22,33,44,55,66}
set2={22,44,66}
set3=set1 & set2

print(set3)

{66, 44, 22}

6. Write a Python program to create a symmetric difference

In [40]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3=set1^set2

print(set3)

{1, 2, 3, 6, 7, 8}

7. Write a Python program to find maximum and the minimum value in a set

In [41]:
set1={11,15,202,34,56}
set2={240,212,111,98,41}
set3=max(set1)
set4=min(set2)

print(set3); print(set4)

202
41

8. Write a Python program to find the length of a set

In [42]:
set1={11,15,202,34,56}
set2={240,212,111,41}
set3=len(set1)
set4=len(set2)

print(set3)
print(set4)

5
4

----------- Loop -----------

1. Write a Python program to construct the following pattern, using a nested for loop  * * * * * * * * * * * * * * * * * * * * * * * * *

In [43]:
num=5
for i in range(1,num+1):
    for j in range(i):
        print('*',end=' ')
for i in range(num-1,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

* * * * * * * * * * * * * * * * * * *
* * *
* *
*

2. Write a Python program to count the number of even and odd numbers from a series of

In [44]:
database=(1,2,3,4,5,6,7,8,9)
odd_num=0
even_num=0

for x in database:
    if x %2==0: 
        even_num+=1
    else:
        odd_num+=1
        
print("Number of even number is:",even_num)
print("Number of odd number is:",odd_num)

Number of even number is: 4
Number of odd number is: 5

3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6

In [45]:
for num in range(7):
    if num ==3 or num ==6:
        continue
print(num,end=" ")

6

In [ ]:
a, b = 0, 1

print(a, end=' ')

while b <= 50:
    print(b, end=' ')
         (a, b = b, a + b)

4. Write a Python program which takes two digits m (row) and n (column) as input and

In [ ]:
rows=int(input("Enter the number of rows:"))

columns=int(input("Enter the number of column"))

array_2D= [[i*j for j in range(columns)]
          for i in range(rows)]
for rows in array_2D:
    
    print(rows)

5. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
even_numbers=[]

for num in range(100,401):
    digits=[int(digit) for digit in str(num)]
    if all(digit %2==0 for digit in digits):
        
result = ', '.join(map(str,even_numbers))

6. Write a Python program to print alphabet pattern 'A'

In [ ]:
def print_pattern():
    for row in range(7):
        for col in range(7):
            if (col==0 or col==6 and (row!=0):
               print('*',end="")
            elif (row==0 or row==3) and (col>0 and col<6):
               print('*',end="")
            else:
               print(" ",end="")
        print()

7. Write a Python program to print alphabet pattern 'P'

In [ ]:
def print_P():
    rows=7
    columns=6
    
    for row in range(rows):
        for column in range(columns):
            if (column==0 or (row in {0,3}) and 0<column<5 or (row in {1,2}) and column==5:
                print('*',end="")
            else:
                print('',end="")
            print()
                
print_P()

8. Write a Python program to check a triangle is valid or not

In [49]:
def is_triangle(a, b, c):
    if (a + b > c) and (b + c > a) and (c + a > b):
        return True
    else:
        return False

In [ ]:
side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))

if is_triangle(side1, side2, side3):
    print("Triangle is valid.")
else:
    print("Triangle is not valid.")

9. Write a Python program to create the multiplication table (from 1 to 10) of a number

In [ ]:
def multiplication_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

num = int(input("Enter a number: "))  # Taking input from user

multiplication_table(num) # Calling the function

10. Write a Python program to construct the following pattern, using a nested loop number. 1 22 333 4444 55555 666666 7777777 88888888 999999999

In [ ]:
def construct_pattern(n):
    for i in range(1, n + 1):
        for j in range(i):
            print(i, end="")
        print()

construct_pattern(9)   # Test the function

----------- Functions -----------

1. Write a Python function to find the Max of three numbers

In [51]:
def find_max(a,b,c):
    max_num = max(a,b,c)
    return max_num

num1=5
num2=10
num3=7

max_num=find_max(num1, num2, num3)
print("The maximum number is:",max_num)

The maximum number is: 10

2. Write a Python function to sum all the numbers in a list

In [52]:
def sum_list_numbers(numbers):
    total_sum=0
    
    for num in numbers:
        if isinstance(num,(int, float)):
            total_sum+=num
    
    return total_sum

list1 = [1, 2, 3, 4, 5]
print(sum_list_numbers(list1))

15

3. Write a Python function to multiply all the numbers in a list

In [53]:
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

list1 = [2, 3, 4, 5]
print(multiply_list(list1))

120

4. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [54]:
def count_case_letters(string):
    uppercase_count=0
    lowercase_count=0

    for char in string:
        if char.isupper():
            uppercase_count+= 1
        elif char.islower():
            lowercase_count+= 1

    return uppercase_count,lowercase_count

input_string="Hello, World!"
upper, lower=count_case_letters(input_string)
print("Number of uppercase letters:",upper)
print("Number of lowercase letters:",lower)

Number of uppercase letters: 2
Number of lowercase letters: 8

5. Write a Python function that takes a list and returns a new list with unique elements of the first list

In [55]:
def get_unique_elements(lst):
    unique_lst=[]
    for el in lst:
        if el not in unique_lst:
            unique_lst.append(el)
    return unique_lst

list1=[1, 2, 2, 3, 4, 4, 5]
unique_elements = get_unique_elements(list1)
print(unique_elements)

[1, 2, 3, 4, 5]

6. Write a Python program to print the even numbers from a given list

In [56]:
def print_even_numbers(numbers):
    for num in numbers:
        if num % 2==0:
            print(num)
            
numbers=[1,2,3,4,5,6,7,8,9,10]
print_even_numbers(numbers)

2
4
6
8
10

7. Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
def is_palindrome(s):   # Removing spaces and converting to lowercase
    s = s.replace(" ", "").lower()
    reverse = s[::-1]    # Reversing the string
        if s==reverse: # Checking if the original and reversed strings are equal
        return True
    else:
        return False
    
string="Madam Arora teaches malayalam"
if is_palindrome(string):
    print(f"{string} is a palindrome")
else:
    print(f"{string} is not a palindrome")

8. Write a Python program to access a function inside a function

In [58]:
def outer_function():
    print("This is the outer function.")
    
    def inner_function():
        print("This is the inner function.")
        
    # Call the inner function
    inner_function()

# Call the outer function
outer_function()

This is the outer function.
This is the inner function.

9. Write a Python program to detect the number of local variables declared in a function

In [59]:
import inspect

def count_local_variables(func):
    # Get the source code of the function
    source_code=inspect.getsource(func)
    
    # Get the list of lines in the source code
    lines=source_code.split('\n')
    
    # Count the number of local variables declared
    count=0
    
    for line in lines:
        # Check if the line declares a local variable
        if'=' in line and not line.startswith('def') and not line.startswith('#'):
            count += 1
    
    return count

def example_function():
    x = 5
    y = "Hello"
    z = [1, 2, 3]
    
print(count_local_variables(example_function))

3